XamarinApp/XamarinApp/XamarinApp/obj/Debug/XamarinApp.csproj.CoreCompileInputs.cache
XamarinApp/XamarinApp/XamarinApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
XamarinApp/XamarinApp/XamarinApp.UWP/obj/x86/Debug/XamlSaveStateFile.xml
XamarinApp/XamarinApp/XamarinApp.UWP/obj/x86/Debug/XamarinApp.UWP.csproj.CoreCompileInputs.cache
XamarinApp/XamarinApp/XamarinApp.UWP/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/resolved_assemblies.txt
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/linksrc/XamarinApp.Android.dll.mdb
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/linksrc/XamarinApp.Android.dll
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/linkdst/XamarinApp.Android.pdb
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/linkdst/XamarinApp.Android.dll.mdb
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/linkdst/XamarinApp.Android.dll
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/android/assets/XamarinApp.Android.dll.mdb
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/android/assets/XamarinApp.Android.dll
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/XamarinApp.Android.pdb
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/XamarinApp.Android.dll
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/XamarinApp.Android.csprojResolveAssemblyReference.cache
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/XamarinApp.Android.csproj.FileListAbsolute.txt
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/XamarinApp.Android.csproj.CoreCompileInputs.cache
XamarinApp/XamarinApp/XamarinApp.Android/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
XamarinApp/XamarinApp/XamarinApp.Android/bin/Debug/XamarinApp.Android.pdb
XamarinApp/XamarinApp/XamarinApp.Android/bin/Debug/XamarinApp.Android.dll.mdb
XamarinApp/XamarinApp/XamarinApp.Android/bin/Debug/XamarinApp.Android.dll
XamarinApp/.vs/XamarinApp/v15/sqlite3/storage.ide
XamarinApp/.vs/XamarinApp/v15/.suo
